<h2>Template: Switches</h2>
<hr>


<form (ngSubmit)="save()" #miFormulario="ngForm">

    <!-- Radio -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Género</label>
        <div class="col-sm-9">

            <div class="form-check">
                <input class="form-check-input"
                       type="radio"
                       value="M"
                       id="radioMasculino"
                       name="genero"
                       [(ngModel)]="persona.genero"
                       required>
                <label class="form-check-label" for="radioMasculino">
                  Masculino
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input"
                       type="radio"
                       value="F"
                       id="radioFemenino"
                       name="genero"
                       [(ngModel)]="persona.genero"
                       required>
                <label class="form-check-label" for="radioFemenino">
                  Femenino
                </label>
            </div>

        </div>
    </div>

    <!-- Switches -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Notificaciones</label>
        <div class="col-sm-9">

            <div class="form-check form-switch mt-2">
                <input class="form-check-input"
                       type="checkbox"
                       id="flexSwitchCheckChecked"
                       name="notificaciones"
                       [(ngModel)]="persona.notificaciones">
                <label class="form-check-label" for="flexSwitchCheckChecked">Quiero recibir notificaciones</label>
            </div>

        </div>
    </div>

    <!-- Switches -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input"
                       type="checkbox"
                       id="flexCheckDefault"
                       [(ngModel)]="terminosYCondiciones"
                       name="terminosYCodiciones"
                       required>
                <label class="form-check-label" for="flexCheckDefault">
                  Términos y condiciones de uso
                </label>
            </div>
        </div>
    </div>
    

    <!-- Boton submit -->
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end" [disabled]="miFormulario.invalid">
                Guardar
            </button>
        </div>
    </div>

</form>
